/* For some reason I decided that a center text align looked best. Also the wish.com jeopardy blue. */

body {
    background-color: #071277;
    text-align: center;
}

/* This is sizing and bordering for the final question. I liked the whitesmoke because it wasn't quite as aggressive as just white. */
#finalQuestion {
    width: 600px;
    height: 300px;
    border: solid black 1px;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    background-color: whitesmoke;
}

input {
    width: 300px;
    height: auto;
}

.bet {
    font-family: 'Times New Roman', Times, serif;
    color: gold;
    margin-top: 60px;
}

.answer {
    font-family: 'Times New Roman', Times, serif;
    color: gold;
    margin-top: 60px;
    margin-bottom: 60px;
}

footer {
    margin-top: 100px;
}