/* I made sure to use the same names for the for classes and the like so that I could literally just copy paste the styling for round 1 and two. In hindsight that was un necessary and I could've just used the same CSS file. */

body {
    background-color: #071277;
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: gold;
    font-size: 80px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: gold;
    font-size: 60px;
}

#category {
    display: grid;
    grid-template-columns: repeat(6, 16%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
   
}





input {
    margin-top: 60px;
    width: 300px;
}

.score {
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

.submitAnswer {
    margin-top: 60px;
}

footer {
    margin-top: 100px;
}

.answer {
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}